# Set up the Edgar Postgres DB

### Set up imports

In [1]:
import os
import psycopg2

### Set up database connection

Make sure the correct variables exist in your environment.

In [2]:
# Load credentials from environment. 
POSTGRES_ADDRESS = os.environ['POSTGRES_ADDRESS']
POSTGRES_PORT = os.environ['POSTGRES_PORT']
POSTGRES_USERNAME = os.environ['POSTGRES_USERNAME']
POSTGRES_PASSWORD = os.environ['POSTGRES_PASSWORD']
POSTGRES_PASSWORD = "gZ3uoUyCtB8"
POSTGRES_DBNAME = os.environ['POSTGRES_DBNAME']

In [3]:
# Create connection and cursor    
conn = psycopg2.connect(host=POSTGRES_ADDRESS,
                  database=POSTGRES_DBNAME,
                  user=POSTGRES_USERNAME,
                  password=POSTGRES_PASSWORD,
                  port=POSTGRES_PORT)
cur = conn.cursor()

### Create the profile, income, and balance sheet tables

(Only run this if it doesn't already exist)

In [4]:
# Create the Profile table
cur.execute("""CREATE TABLE profile_table
               (symbol varchar(5),
                price float,
                beta float,
                volAvg bigint,
                mktCap bigint,
                lastDiv float,
                changes float,
                companyName varchar(100),
                exchangeShortName varchar(10),
                industry varchar(100),
                website varchar(100),
                description text,
                ceo varchar(100),
                sector varchar(100),
                country varchar(20),
                fullTimeEmployees integer,
                phone varchar(20),
                address text,
                city varchar(50),
                state varchar(20),
                dcf float,
                ipoDate timestamp);""") 

# Commit the table creation transaction.
conn.commit()

In [5]:
# Create the Income Statement table
cur.execute("""CREATE TABLE income_table
                (symbol varchar(5),
                date timestamp,
                period varchar(5),
                revenue bigint, 
                costOfRevenue bigint, 
                grossProfit bigint, 
                grossProfitRatio float, 
                researchAndDevelopmentExpenses bigint, 
                generalAndAdministrativeExpenses bigint, 
                sellingAndMarketingExpenses bigint,
                otherExpenses bigint, 
                operatingExpenses bigint, 
                costAndExpenses bigint, 
                interestExpense bigint, 
                depreciationAndAmortization bigint, 
                ebitda bigint, 
                ebitdaratio float, 
                operatingIncome bigint, 
                operatingIncomeRatio float,
                totalOtherIncomeExpensesNet bigint, 
                incomeBeforeTax bigint, 
                incomeBeforeTaxRatio float, 
                incomeTaxExpense bigint, 
                netIncome bigint, 
                netIncomeRatio float, 
                eps float, 
                epsdiluted float, 
                weightedAverageShsOut bigint, 
                weightedAverageShsOutDil bigint);""") 
    
# Commit the table creation transaction.
conn.commit()

In [7]:
# Create the Balance Sheet Statement table
cur.execute("""CREATE TABLE balance
                (symbol varchar(5),
                date timestamp,
                period varchar(5),
                cashAndCashEquivalents bigint,
                shortTermInvestments bigint,
                cashAndShortTermInvestments bigint,
                netReceivables bigint,
                inventory bigint,
                totalCurrentAssets bigint,
                propertyPlantEquipmentNet bigint,
                goodwill bigint,
                intangibleAssets bigint,
                longTermInvestments bigint,
                taxAssets bigint,
                totalNonCurrentAssets bigint,
                otherAssets bigint,
                totalAssets bigint,
                accountPayables bigint,
                shortTermDebt bigint,
                taxPayables bigint,
                deferredRevenue bigint,
                totalCurrentLiabilities bigint,
                longTermDebt bigint,
                deferredRevenueNonCurrent bigint,
                totalLiabilities bigint,
                commonStock bigint,
                retainedEarnings bigint,
                totalStockholdersEquity bigint,
                totalLiabilitiesAndStockholdersEquity bigint,
                totalInvestments bigint,
                totalDebt bigint,
                netDebt bigint);""") 

# Commit the table creation transaction.
conn.commit()

### Display contents of the income table

Feel free to run this interactively to debug table population.

In [59]:
conn.commit()
query = """SELECT * FROM income_table WHERE symbol = 'GOOGL';"""
cur.execute(query)
cur.fetchall()

[('GOOGL',
  datetime.datetime(2020, 12, 31, 0, 0),
  'FY',
  182527000000,
  84732000000,
  97795000000,
  0.5357837470620785,
  27573000000,
  11052000000,
  17946000000,
  -1246000000,
  56571000000,
  141303000000,
  135000000,
  13697000000,
  54921000000,
  0.3008924707029645,
  41224000000,
  0.22585151785763202,
  5128000000,
  48082000000,
  0.2634240413747007,
  7813000000,
  40269000000,
  0.22061941520980458,
  57.64605844055451,
  57.64605844055451,
  698556000,
  698556000),
 ('GOOGL',
  datetime.datetime(2019, 12, 31, 0, 0),
  'FY',
  161857000000,
  71896000000,
  89961000000,
  0.5558054331910266,
  26018000000,
  9551000000,
  18464000000,
  5394000000,
  54033000000,
  127626000000,
  100000000,
  11781000000,
  46012000000,
  0.28427562601555695,
  34231000000,
  0.2114891540063142,
  -79000000,
  39625000000,
  0.24481486744471972,
  5282000000,
  34343000000,
  0.2121811228430034,
  49.16284,
  49.16284,
  698556000,
  698556000),
 ('GOOGL',
  datetime.datetime(2018, 12, 31, 0, 0),
  'FY',
  136819000000,
  59549000000,
  77270000000,
  0.5647607422945643,
  21419000000,
  8126000000,
  16333000000,
  8592000000,
  45878000000,
  109295000000,
  114000000,
  9035000000,
  36559000000,
  0.26720703995790057,
  27524000000,
  0.20117089000796673,
  -994000000,
  34913000000,
  0.255176547116994,
  4177000000,
  30736000000,
  0.22464716157843576,
  43.70348,
  43.70348,
  703285000,
  703285000),
 ('GOOGL',
  datetime.datetime(2017, 12, 31, 0, 0),
  'FY',
  110855000000,
  45583000000,
  65272000000,
  0.5888051959767263,
  16625000000,
  6872000000,
  12893000000,
  1047000000,
  36390000000,
  84677000000,
  109000000,
  6915000000,
  33093000000,
  0.2985251003563213,
  26178000000,
  0.23614631726128726,
  250000000,
  27193000000,
  0.2453024220829011,
  4707000000,
  12662000000,
  0.11422128005051645,
  17.99643,
  17.99643,
  703584000,
  703584000),
 ('GOOGL',
  datetime.datetime(2016, 12, 31, 0, 0),
  'FY',
  90272000000,
  35138000000,
  55134000000,
  0.6107541651896491,
  13948000000,
  6985000000,
  10485000000,
  434000000,
  31418000000,
  66556000000,
  124000000,
  6144000000,
  29860000000,
  0.3307780928748671,
  23716000000,
  0.26271712158808935,
  344000000,
  24150000000,
  0.26752481389578164,
  4672000000,
  19478000000,
  0.2157701169797944,
  27.87725,
  27.87725,
  698706000,
  698706000),
 ('GOOGL',
  datetime.datetime(2015, 12, 31, 0, 0),
  'FY',
  74989000000,
  28164000000,
  46825000000,
  0.6244249156542959,
  12282000000,
  6136000000,
  9047000000,
  291000000,
  27465000000,
  55629000000,
  104000000,
  5063000000,
  24423000000,
  0.3256877675392391,
  19360000000,
  0.25817119844243824,
  256000000,
  19651000000,
  0.26205176759258025,
  3303000000,
  16348000000,
  0.21800530744509194,
  23.59257,
  23.59257,
  692930000,
  692930000),
 ('GOOGL',
  datetime.datetime(2014, 12, 31, 0, 0),
  'FY',
  66001000000,
  25313000000,
  40688000000,
  0.6164755079468492,
  9832000000,
  5851000000,
  0,
  0,
  23814000000,
  49505000000,
  585000000,
  4979000000,
  21475000000,
  0.3253738579718489,
  16496000000,
  0.24993560703625703,
  178000000,
  17259000000,
  0.2614960379388191,
  3639000000,
  14136000000,
  0.21417857305192345,
  20.57642,
  20.57642,
  687000000,
  687000000),
 ('GOOGL',
  datetime.datetime(2013, 12, 31, 0, 0),
  'FY',
  55519000000,
  21993000000,
  33526000000,
  0.6038653433959545,
  7137000000,
  4796000000,
  0,
  0,
  20001000000,
  40116000000,
  305000000,
  3939000000,
  19342000000,
  0.348385237486266,
  15403000000,
  0.27743655325203986,
  248000000,
  15899000000,
  0.2863704317440876,
  2739000000,
  12733000000,
  0.22934490895008916,
  17.2768,
  17.2768,
  737000000,
  737000000),
 ('GOOGL',
  datetime.datetime(2012, 12, 31, 0, 0),
  'FY',
  46039000000,
  17176000000,
  28863000000,
  0.6269249983709464,
  6083000000,
  3845000000,
  0,
  0,
  16781000000,
  32205000000,
  -145000000,
  2962000000,
  16796000000,
  0.3648211299115967,
  13834000000,
  0.30048437194552446,
  592000000,
  14469000000,
  0.3142770259996959,
  2916000000,
  10737000000,
  0.2332153174482504,
  16.14586,
  16.14586,
  665000000,
  665000000),
 ('GOOGL',
  datetime.datetime(2011, 12, 31, 0, 0),
  'FY',
  37905000000,
  13188000000,
  24717000000,
  0.6520775623268698,
  5162000000,
  3224000000,
  0,
  0,
  12975000000,
  26273000000,
  629000000,
  1851000000,
  13483000000,
  0.3557050521039441,
  11632000000,
  0.30687244426856614,
  65000000,
  12326000000,
  0.3251813744888537,
  2589000000,
  9737000000,
  0.25687903970452447,
  14.88838,
  14.88838,
  654000000,
  654000000),
 ('GOOGL',
  datetime.datetime(2010, 12, 31, 0, 0),
  'FY',
  29321000000,
  10417000000,
  18904000000,
  0.6447256232734218,
  3762000000,
  1962000000,
  0,
  0,
  8523000000,
  18940000000,
  404000000,
  1396000000,
  11777000000,
  0.4016575150915726,
  10381000000,
  0.35404658776985776,
  11000000,
  10796000000,
  0.36820026602094064,
  2291000000,
  8505000000,
  0.29006514102520375,
  13.14529,
  13.14529,
  647000000,
  647000000),
 ('GOOGL',
  datetime.datetime(2009, 12, 31, 0, 0),
  'FY',
  23651000000,
  8844000000,
  14806000000,
  0.6260200414358801,
  2843000000,
  1667294000,
  0,
  0,
  6494262000,
  15338000000,
  67000000,
  1524000000,
  9836000000,
  0.41588093526700776,
  8312000000,
  0.35144391357659294,
  2000000,
  8381000000,
  0.35436133778698575,
  1861000000,
  6520000000,
  0.2756754471269714,
  10.20344,
  10.20344,
  639000000,
  639000000),
 ('GOOGL',
  datetime.datetime(2008, 12, 31, 0, 0),
  'FY',
  21796000000,
  8622000000,
  13174000000,
  0.6044228298770417,
  2793000000,
  1802639000,
  0,
  0,
  6542075000,
  16258000000,
  312000000,
  1500000000,
  7037000000,
  0.32285740502844557,
  5537000000,
  0.2540374380620297,
  5000000,
  5854000000,
  0.26858139108093226,
  1627000000,
  4227000000,
  0.19393466691135988,
  6.65669,
  6.65669,
  635000000,
  635000000),
 ('GOOGL',
  datetime.datetime(2007, 12, 31, 0, 0),
  'FY',
  16594000000,
  6649000000,
  9945000000,
  0.5993130047004942,
  2120000000,
  1279250000,
  0,
  0,
  4860501000,
  11510000000,
  594000000,
  968000000,
  6052000000,
  0.364710136193805,
  5084000000,
  0.3063757984813788,
  -5000000,
  5674000000,
  0.34193081836808487,
  1470000000,
  4204000000,
  0.2533445823791732,
  6.6519,
  6.6519,
  632000000,
  632000000),
 ('GOOGL',
  datetime.datetime(2006, 12, 31, 0, 0),
  'FY',
  10605000000,
  4225000000,
  6380000000,
  0.6016030174446017,
  1229000000,
  0,
  0,
  0,
  2829894000,
  7055000000,
  458000000,
  572000000,
  4122000000,
  0.3886845827439887,
  3550000000,
  0.3347477604903347,
  3000000,
  4011000000,
  0.3782178217821782,
  934000000,
  3077000000,
  0.29014615747289013,
  4.97092,
  4.97092,
  619000000,
  619000000),
 ('GOOGL',
  datetime.datetime(2005, 12, 31, 0, 0),
  'FY',
  6139000000,
  2577000000,
  3561000000,
  0.5800618993321388,
  600000000,
  0,
  0,
  0,
  1549773000,
  4121000000,
  120000000,
  294000000,
  2311000000,
  0.37644567519139926,
  2017000000,
  0.32855513927349733,
  4000000,
  2142000000,
  0.34891676168757124,
  676000000,
  1465000000,
  0.23863821469294674,
  2.50856,
  2.50856,
  584000000,
  584000000),
 ('GOOGL',
  datetime.datetime(2004, 12, 31, 0, 0),
  'FY',
  3189000000,
  1469000000,
  1720000000,
  0.5393540294763248,
  395000000,
  0,
  0,
  0,
  1091378000,
  2549000000,
  15000000,
  149000000,
  789000000,
  0.24741298212605833,
  640000000,
  0.20068987143305111,
  -5000000,
  650000000,
  0.20382565067419253,
  251000000,
  399000000,
  0.1251175917215428,
  0.73077,
  0.73077,
  546000000,
  546000000),
 ('GOOGL',
  datetime.datetime(2003, 12, 31, 0, 0),
  'FY',
  1466000000,
  634000000,
  832000000,
  0.567530695770805,
  230000000,
  0,
  0,
  0,
  497616000,
  1123000000,
  1000000,
  50000000,
  392000000,
  0.2673942701227831,
  342000000,
  0.23328785811732605,
  3000000,
  347000000,
  0.23669849931787176,
  241000000,
  106000000,
  0.0723055934515689,
  0.20663,
  0.20663,
  513000000,
  513000000),
 ('GOOGL',
  datetime.datetime(2002, 12, 31, 0, 0),
  'FY',
  440000000,
  133000000,
  307000000,
  0.6977272727272728,
  40000000,
  0,
  0,
  0,
  121532000,
  253000000,
  -1000000,
  18000000,
  204000000,
  0.4636363636363636,
  186000000,
  0.42272727272727273,
  0,
  185000000,
  0.42045454545454547,
  85000000,
  100000000,
  0.22727272727272727,
  0.22676,
  0.22676,
  441000000,
  441000000),
 ('GOOGL',
  datetime.datetime(2001, 12, 31, 0, 0),
  'FY',
  86000000,
  15000000,
  71000000,
  0.8255813953488372,
  21000000,
  39000000,
  0,
  0,
  16500000,
  75000000,
  -1000000,
  10000000,
  21000000,
  0.2441860465116279,
  11000000,
  0.12790697674418605,
  0,
  10000000,
  0.11627906976744186,
  3000000,
  7000000,
  0.08139534883720931,
  0.01872,
  0.01872,
  374000000,
  374000000),
 ('GOOGL',
  datetime.datetime(2000, 12, 31, 0, 0),
  'FY',
  19000000,
  6000000,
  13000000,
  0.6842105263157895,
  12000000,
  16000000,
  0,
  0,
  27764000,
  34000000,
  0,
  0,
  -15000000,
  -0.789474,
  -15000000,
  -0.7894736842105263,
  0,
  -15000000,
  -0.7894736842105263,
  0,
  -15000000,
  -0.7894736842105263,
  -0.11194,
  -0.11194,
  134000000,
  134000000),
 ('GOOGL',
  datetime.datetime(1999, 12, 31, 0, 0),
  'FY',
  0,
  1000000,
  -1000000,
  0.0,
  3000000,
  3000000,
  0,
  0,
  6000000,
  7000000,
  0,
  0,
  -6000000,
  0.0,
  -7000000,
  0.0,
  0,
  -6000000,
  0.0,
  0,
  -6000000,
  0.0,
  -0.07059,
  -0.07059,
  85000000,
  85000000)]

In [55]:
conn.commit()
query = """
DELETE FROM profile_table WHERE symbol='BRK-B';
"""
cur.execute(query)
conn.commit()

In [20]:
query = """
DELETE FROM profile_table;
"""
cur.execute(query)
query = """
DELETE FROM income_table;
"""
cur.execute(query)
query = """
DELETE FROM balance;
"""
cur.execute(query)
conn.commit()

In [30]:
# Commit the transaction.
conn.commit()

In [36]:
# To delete all rows, run """DELETE FROM income;"""
# To delete the table, run """DROP TABLE income;"""